{{#if isMoving}}
  <a href='#' {{action 'reparentTo' place}} class='is-moving'>{{place.name}}</a>
{{else}}
  {{link-to place.name 'convention.places.show' place}}
{{/if}}

<ul>
{{#each place.children as |place|}}
  {{place-node place=place reparentTo='reparentTo' isMoving=isMoving}}
{{/each}}
</ul>
