<div class="reservables">
  <div class='header'></div>
  {{#each places as |place|}}
    <div class='reservable'>{{place.name}}</div>
  {{/each}}
</div>


<div class="track-container">
  <div class="tracks" style={{tracksWidthStyle}}>
    <div class='header'>
      {{#each hours as |hour|}}
        <div class='hour' style={{hourWidthStyle}}>{{structure-hour hour}}</div>
      {{/each}}
    </div>
    {{#each places as |place|}}
      <div class='track'>
        {{#each hours as |hour|}}
          <div class='major-grid' style={{gridWidthStyle}}></div>
          <div class='minor-grid' style={{gridWidthStyle}}></div>
        {{/each}}


        {{#each place.reservations as |reservation|}}
          {{reservation-block reservation=reservation hourWidth=hourWidth
            trackStart=start}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
