<h1>Edit Event</h1>
{{input value=model.name placeholder="name"}}<br>
{{textarea value=model.description placeholder="description"}}<br>
{{human-datetime value=model.start}}
{{human-datetime value=model.finish}}
<button {{action 'update'}}>Update Event</button>
