<div class='page-heading'>
  <h1>{{model.schedule.name}}</h1>
  <div class='actions'>
    <a href='#' {{action 'save'}} class="btn {{showSave}}">Save Changes</a>
  </div>
</div>

{{schedule-grid places=model.schedule.places events=model.schedule.events
  hourWidth=200
  start=model.schedule.start
  finish=model.schedule.finish
  moveReservation='moveReservation'
  selectEvent='selectEvent'
  }}


{{#if showCreateReservationModal}}
  {{#modal-dialog translucentOverlay=true close='closeCreateReservationModal'}}
    {{event-selector events=model.events
      select='createReservation'
      }}
  {{/modal-dialog}}
{{/if}}
