<div class='con-nav'>
  <ul>
    <li>{{link-to 'Overview' 'con.index' model}}</li>
    <li>{{link-to 'Schedules' 'con.schedules' model}}</li>
    <li>{{link-to 'Events' 'con.events' model}}</li>
    <li>{{link-to 'People' 'con.people' model}}</li>
    <li>{{link-to 'Places' 'con.places' model}}</li>
    <li><a href='#'>Settings</a></li>
  </ul>
</div>

<div class='content'>
  {{outlet}}
</div>
