<div class='con-nav'>
  <ul>
    <li>{{link-to 'Overview' 'convention.index' model}}</li>
    <li>{{link-to 'Schedules' 'convention.schedules' model}}</li>
    <li>{{link-to 'Events' 'convention.events' model}}</li>
    <li>{{link-to 'People' 'convention.people' model}}</li>
    <li>{{link-to 'Places' 'convention.places' model}}</li>
    <li><a href='#'>Settings</a></li>
  </ul>
</div>

<div class='content'>
  {{outlet}}
</div>
