<div class='page-heading'>
  <h1>{{inline-text value=model.name}}</h1>
  <div class='actions'>
    <a href='#' {{action 'save'}} class='btn {{visibility}}'>Save</a>
    <a href='#' class='btn'>{{fa-icon 'files-o'}} Clone</a>
    <a href='#' class='btn danger' {{action 'delete'}}>{{fa-icon 'trash'}} Delete</a>
  </div>
</div>

<b>Todo dynamic summary of scheduling, location, and DRC health</b>
<p>{{inline-textarea value=model.description}}</p>

<div class='scheduling'>
  <h2>Schedule</h2>
  {{inline-dtrange start=model.start finish=model.finish}}
</div>

<div class='reservations'>
  <h2>Reservations</h2>
  {{#each model.reservations as |reservation|}}
    {{#link-to 'convention.places.show' reservation.reservable}}
      {{reservation.reservable.name}}
    {{/link-to}}
  {{/each}}
</div>

<div class='reservations'>
  <h2>Rules</h2>
</div>
